body {
  background-color: salmon;
  color:antiquewhite
}

h1,h2,h4{
 padding-left: 60px
}



ul{
  line-height: 25px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
   }


li input:hover{
  background-color: bisque;
  cursor:pointer
}

body:hover{
  cursor:default
 
}

